h1{
    background-color: aqua;
}

img{
    width:50% ;
    
}
.row{
    display: flex;
    padding: 5px;
}
.columnas{
    
    padding: 5px;
}
.columnas img{
    margin-top:  5px;
}
.flex-container{
    display: flex;
    flex-direction: column-reverse;
    background-color: coral;
}
.flex-container div {
    background-color: black;
    color: wheat;
    margin: 5px;
    width: 60px;
}